body {

}
header {
    text-align: center;
}
h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
    margin-top: 0;
}
#home {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
    padding: 1%;
    width: 98%;
}
.leagues {
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 33.3%;
}
.leagues:hover {
    opacity: .7;
}
img {
    max-width: 100%;
    width: 70%;
}