body {
    font-family: 'David Libre', serif;
}
header {
    text-align: center;
}
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 3.4em;
    margin-bottom: 0;
}
h2 {
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
    margin: 0 auto 50px;
}
#home {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
    padding: 1%;
    width: 98%;
}
.leagues {
    color: #000;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    width: 33.3%;
}
.leagues:hover {
    background-color: lightgray;
    opacity: .7;
}
img {
    max-width: 100%;
    width: 70%;
}

.standings, section {
    width: 50%;
}